/* 
    Created on : 26 Jun 2020, 12.03.22
    Author     : Jarno Matarmaa <Tampereen Yliopisto>
*/

/* SITE properties */
.sp {
    /* Site colors */
    --nav-bar-color: #666666;
    --main-site-color: #551A8B;
    --main-text-color: whitesmoke;
    --button-text-color: white;
    /* Common element sizes */
    --navbar-height: 70px;
    --default-margin: 20px;
    --form-max-width: 1000px;
    --default-tablecell-width: 300px;
}

body {
    display: grid;
    grid-template:  auto auto auto auto auto / 300px auto auto; /* 4 x 3 grid */
    background-color:  #ddd;
    margin: 20px;
    /* Congruent font family style for whole site */
    font-family: system-ui;
}


/* SITE HEADER elements */

.header {
    grid-row: 1;
    grid-column: 2;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
}

#page_header {
    color: white;
    font-weight: bolder;
    margin-left: var(--default-margin);
}

#tau-logo {
    grid-row: 1;
    grid-column: 1;
    width: 15rem
}

h1 {
    align-self: center;
    font-size: 24px;
}

h3 {
    display: inline-block;
    align-self: flex-start;
}

#h3ind {
    margin: var(--default-margin) 0px;
}

.div-page_header {
    grid-row: 2;
    grid-column: 2 / span 2;
    height: var(--navbar-height);
    background-color: var(--main-site-color);
}


/* TOOLS elements */

.tools {
    grid-row: 1;
    grid-column: 3;
    justify-content: center;
    align-content: center;
}

/* MENU elements */

.menu {
    grid-row: 2 / span 2;
    grid-column: 1;
    padding-left: 0px;    
}

/* FORM elements*/

.form-actions {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin: 0px;
    /*background-color: #333;*/
}

input[name="software"] {
    box-sizing: border-box;
    height: 40px;
    width: 300px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: whitesmoke;
    background-image: url('../img/search-icon.png');
    background-size: 25px 25px;
    background-position: 5px;
    background-repeat: no-repeat;
    padding: 10px 10px 10px 40px;
}

.form-button {
    box-sizing: border-box;
    width: 150px;
    height: 40px;
    padding: 5px;
    margin: 9px;
    border-color:black;
    border: 1px solid;
    border-radius: 3px;
    -o-border-radius:3px 3px 3px;
    -webkit-border-radius:3px 3px 3px;
    -moz-border-radius:3px 3px 3px;
    color: var(--button-text-color);
    background-color: #666666;
}

#searchbox_label {
    color: black;
    display: inline-block;
    font-family: var(--site-font);
    font-size: 20px;
}

form button { /* All the form elements gets the same font style */
    display: inline-block;
    font-family: var(--site-font);
    font-size: 20px;
    color: var(--button-text-color);
}

form {
    white-space: nowrap;
    display: inline-block;
}

#country-label {
    margin-top: 8px;
}



/* TABLE elements */

.tablecont {
    padding: 6px;
    
    grid-row: 3;
    grid-column: 2 / span 2;
    min-height: 500px;
    margin-bottom: 40px;
    overflow: auto;
    
}

#sw_stats {
    box-sizing: border-box;
    font-size: 14px;
    width: 100%;
    background: #fff;
    border-spacing: 0px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
}

/* Table header row styles */
#sw_stats th {
    cursor: pointer; 
}

#sw_stats th:nth-child(n+1):nth-child(-n+7), th:nth-child(16) {
    margin: 10px;
    padding: 8px;
    text-align: left;
    background-color: var(--main-site-color);
    color: white;
}
/* Cells for licensing */
#sw_stats th:nth-child(n+8):nth-child(-n+11) {
    background-color:bisque;
}
/* Cells for packaging */
#sw_stats th:nth-child(n+12):nth-child(-n+15) {
    background-color:#ffdddd;
}

#sw_stats td, th {
    max-width: var(--default-tablecell-width);
}

#sw_stats td {
    box-sizing: border-box;
    border: 1px solid #ddd;
    padding: 8px;
}

#sw_stats tr:nth-child(even) { background-color: #f2f2f2; }
#sw_stats tr:hover { background-color: lightgray; }

#sw_stats td:nth-child(1), td:nth-child(2) {
    white-space: nowrap;
    
}

#sw_stats td:nth-child(2) {
    max-width: 100px;
}

#sw_stats td:nth-child(3) {
    max-width: 250px;
}

#sw_stats td:nth-child(3), td:nth-child(4), td:nth-child(5) {
    white-space: pre;
    overflow: hidden;
}

#sw_stats td:nth-child(6) {
    min-width: 100px;
    white-space: pre-wrap;
}

#sw_stats td:nth-child(7) {
    min-width: 200px;
}

/* FOOTER elements */

footer {
    position: inherit;
    display: flex;
    flex-direction: column;
    grid-row: 5;
    grid-column: 1 / span 3;
    justify-content: center;
    height: 8vh;
    align-items: center;
    padding: 15px;
    background-color: var(--main-site-color);
    color: var(--main-text-color);
}

#slogan {
    margin: 5px;
    font-size: 20px;
    text-shadow: 0px 0px 2px black;
    color: var(--main-text-color);
}

#developers {
    margin: 5px;
    font-size: 16px;
    text-shadow: 0px 0px 2px #ddd;
    color: #000;
}

h3 {
    display: inline-block;
    font-weight: lighter;
    align-self: flex-start;
    color: var(--main-site-color);
}