/* 
    Created on : 20 Jul 2020, 14.39.22
    Author     : Jarno Matarmaa <Tampereen Yliopisto>
*/

div.scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a, .menu-button {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover, .menu-button:hover {
  background-color: #777;
}

.menu-button {
    border-radius: 5px;
    background-color: black;
}

.menu-button:hover {
    cursor: pointer;
    opacity: 0.5;
    border-color: #32CD32;
}

#external-content {
    width: 99.7%;
    height: 1000px;
}

.page-content {
    grid-row: 3;
    grid-column: 2 / span 2;
    min-height: 500px;
    margin-bottom: 20px;
}


