/* 
    Created on : 14 Jul 2020, 11.36.51
    Author     : Jarno Matarmaa <Tampereen Yliopisto>
*/

/* CHECKBOX STYLES */

/* Custom properties (AKA css variables) */
.si {
    --color-label: black;
    --color-default: #149bdf;
    --color-active: #32CD32;
    --color-active-rejected: red;
    --rotate-default: 180deg;
    --rotate-active: 40deg;
    --border-size-checkmark: 2px;
    --border-size-box: 2px;
    --input-size: 20px;
    --guter: 30px;
}

/* Basic reset */
.si, .si *, .si *::before, .si *::after {
    box-sizing: border-box;
}

/* Label */
.si {
    cursor: pointer;
    position: relative;
    margin: 10px; 
}

.si .si-label {
    display: inline-block;
    padding-left: var(--guter);
    color: var(--color-label);
    vertical-align: text-top;
}

span { /* Checkbox label font size */
    font-size: var(--table-font-size);
}

/* Checkbox square */
.si.si-checkbox .si-label::before {
    margin-top: 3px; 
    border-radius: var(--border-size-checkmark);
}

/* Checkbox square */
.si.si-checkbox > input:checked + .si-label::before {
    transform: rotate(var(--rotate-active)) scale(0);
}

/* Checkbox checkmark accepted */
.si.si-checkbox .si-label-accepted::after {
    content: '';
    display: block;
    width: 8px;
    height: 18px;
    border-width: 0 var(--border-size-checkmark) var(--border-size-checkmark) 0;
    border-style: solid;
    border-color: transparent var(--color-active) var(--color-active) transparent;
    position: absolute;
    top: -3px;
    left: 0;
    transform: rotate(var(--rotate-default)) scale(0);
}
/* Checkmark accepted */
.si.si-checkbox > .accept-box:checked + .si-label::after {
    left: 5px;
    transform: rotate(var(--rotate-active)) scale(1);
}

/* Checkbox checkmark rejected */
.si.si-checkbox .si-label-rejected::after {
    content: '';
    display: block;
    width: 8px;
    height: 18px;
    border-width: 0 var(--border-size-checkmark) var(--border-size-checkmark) 0;
    border-style: solid;
    border-color: transparent var(--color-active-rejected) var(--color-active-rejected) transparent;
    position: absolute;
    top: -3px;
    left: 0;
    transform: rotate(var(--rotate-default)) scale(0);
}
/* Checkmark rejected */
.si.si-checkbox > .reject-box:checked + .si-label::after {
    left: 5px;
    transform: rotate(var(--rotate-active)) scale(1);
}

.si > .accept-box:checked + .si-label.line-across {
    text-decoration: line-through;
}

/* Change property values smoothly */
.si .si-label::before,
.si .si-label::after {
    transition: all 0.2s ease-in-out;
}

/* An element for checkbox */
.si .si-label::before {
    content: '';
    display: block;
    width: var(--input-size);
    height: var(--input-size);
    border: var(--border-size-box) solid var(--color-default);
    position: absolute;
    top: -3px;
    left: 0;
    transform: rotate(0deg) scale(1);
}

/* Feedback when the user interacts with an element */
.si .si-label:hover::before {
    border-color: var(--color-default);
}

.si > input { display: none; }

.si > input[type="checkbox"] {
    clip-path: polygon(0 0);
}

.table-control {
    position: absolute;
    top: -1px;
    left: 0;
    border-radius: 5px;
    display: inline;
    height: 22px;
    width: 22px;
}

.table-control:hover {
    box-shadow: 0px 0px 6px rgba(255,255,255,1.0), 0px 0px 3px rgba(0,0,0,1.0);
}

